
body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #e6f0ff;
    color: gray
}

h1 {
    text-align: center;
    color: black

}

h3 {
    margin-top: 40px;
    text-align: center;
    color: black
}

canvas {
    display: block;
    margin: 30px auto;
    background-color: beige;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px
}